/* .progress{
    width: 200px;
    padding: 15pxpx;
    background-color: rgb(201, 35, 35);
    
} */

/* body{
    background-color: lightpink;
} */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}